%section#graph_form{ data: { id:  @graph.id  } }

  %section.mode
    = radio 'edit', 'bolt'
    = radio 'preview', 'plug'

  %svg#canvas
  = render 'plot_points/form'

= javascript_include_tag 'canvas'
