@import colors
@import bourbon

// index

#books
  display: flex
  flex-direction: column

.title-container
  background: rgba(0,0,0,.3)
  flex: 1
  z-index: 2
  justify-content: center
  width: 100%
  +transition(all .5s ease)

#book
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  background-attachment: fixed
  flex-direction: column
  position: relative
  z-index: 2
  background: $white

  section
    flex-direction: inherit

  &.black
    +filter(grayscale(100%))

  .book-info
    background: $white

.title
  font-family: 'ostrich-sans-light'
  font-size: 7em
  font-weight: 700
  color: $white

.book
  height: 230px
  overflow: hidden
  background-side: cover
  opacity: .8
  display: block
  +transition(all .3s ease)
  position: relative
  background-size: cover

  .meta
    +transition(all .3s ease-in-out)
    position: absolute
    left: 0
    right: 0
    bottom: 0
    padding: 15px 35px
    background: rgba(0, 0, 0, .8)
    +transform(translateY(230px))
    justify-content: space-between

  &:hover
    opacity: 1

    .meta
      +transform(translateY(0))

aside
  width: 20%

ul
  flex: 1

li
  margin-bottom: 15px

.info
  margin-left: 15px

.image
  display: flex

  input
    border: none

  .cover
    display: flex
    flex-direction: column

    img
      margin-left: 15px

.inputs
  display: flex
  flex: 1

  section
    flex: 1

    &.right
      margin-left: 25px
