$purple: #477dca;
$blue: #3984a7;
$red:  #DA4C43;
$black: rgba(0,0,0,.8);
$white: #ffffff;
$offWhite: #f7f7f7;
$darkGray: #5b5e63;

$fadedRed: rgba(218, 76, 67, .7);
$fadedGreen: #e7f1ec;
$fadedBlue: #4d9ec3;
$fadedPurple: #82a7db;
