body, html {
	padding: 0;
	margin: 0;
}

ul,li {
	list-style: none;
}

div, section, ul, li, form, input {
	box-sizing: border-box;
}

div, section {
	display: flex;
}

textarea {
	resize: vertical;
}

form, input {
	max-width: 100%;
}
